<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <div class="input-group">
            <div class="custom-file">
              <input (change)="selectPhoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Subir foto</label>
            </div>
            <div class="input-group-append">
              <button (click)="uploadPhoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
            </div>
        </div>
    </div>
</div>