<detalle-cliente *ngIf="selectedClient" [cliente] = "selectedClient"></detalle-cliente>
<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-2 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
        </div>

        <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th>#</th><!--<th *ngIf="authService.hasRole('ROLE_USER')">#</th>-->
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td><!--<td *ngIf="authService.hasRole('ROLE_USER')">--><img *ngIf="cliente?.photo" (click)="openModal(cliente)" style="width: 64px; cursor: pointer;"
                        src="http://localhost:8081/api/uploads/img/{{cliente.photo}}" alt="{{cliente.photo}}" class="img-thumbnail rounded">
                        <img *ngIf="!cliente?.photo" (click)="openModal(cliente)" style="width: 64px; cursor: pointer;"
                        src="http://localhost:8081/images/not-photo.png" alt="No photo" class="img-thumbnail rounded">
                    </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido | uppercase }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createdAt | date:"EEEE dd, MMMM yyyy" }}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">editar</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger btn-sm">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginator" [paginator] = "paginator"></paginator-nav>
        <div class="alert alert-info" *ngIf="clientes?.length==0">
            No hay registros en la base de datos.
        </div>
    </div>
</div>
