<div class="card bg-light">
    <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; volver</a>
        </h4>
        <form>
            <div class="form-group row" *ngIf="factura.cliente">
                <label for="cliente" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" name="cliente" class="form-control" disabled
                        value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" name="descripcion" class="form-control" [(ngModel)]="factura.descripcion">
                </div>
            </div>

            <div class="form-group row">
                <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
                <div class="col-sm-6">
                    <textarea name="observacion" class="form-control" [(ngModel)]="factura.observacion"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input type="text"
                            placeholder="Añadir producto"
                            aria-label="Productos"
                            matInput
                            [formControl]="autocompleteControl"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="showProductName" (optionSelected)="productSelected($event)">
                        <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                            {{producto.nombre}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of factura.itemsFactura">
                        <td>{{item.producto.nombre}}</td>
                        <td>{{item.producto.precio}}</td>
                        <td><input type="number" value="{{item.cantidad}}" class="form-control col-sm-4" (change)="updateQuantity(item.producto.id, $event)"></td>
                        <td>{{item.importCalculation()}}</td>
                        <td><button class="btn btn-danger btn-sm" type="button" 
                            (click)="deleteItem(item.producto.id)">x</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" value="Crear Factura" class="btn btn-secondary"/>
                </div>
            </div>
        </form>
    </div>
</div>