<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="page-footer font-small bg-dark pt-4 ">

    <ul class="social-network social-circle">
        <li><a href="https://www.linkedin.com/in/eduardocristobalenriquez" class="icoLinkedin" title="Linkedin: Eduardo Cristóbal Enríquez">
                <i class="fa fa-linkedin"></i></a>
        </li>
        <li><a href="https://github.com/ecristobale" class="icoGithub" title="Github: ecristobale">
                <i class="fa fa-github"></i></a>
        </li>
        <li><a href="mailto:edu_ce_1988@hotmail.com" class="icoEmail" title="Email: edu_ce_1988@hotmail.com">
                <i class="fa fa-envelope"></i></a>
        </li>
    </ul>

    <hr>

    <div class="footer-copyright text-center py-3 text-white-50">© 2020 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/eduardocristobalenriquez"> {{autor.nombre + ' ' + autor.apellido}}</a>
    </div>

</footer>